body {
  font-family: roboto;
  margin: 0;    
}

header {
  background: #0c1014;
  background-image: linear-gradient(to right bottom,black,rgba(82, 80, 80, 0.301), #3882F6, #3f7d95, #c78c88,#d69792);
  display: flex;
  justify-content: space-between;
  padding: 160px 0px;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 45px;
}

.logo {
  position: absolute;
  margin-left: 60px;
  margin-top: 17px;
  top: 0;
  cursor: pointer;
  transition: 80ms; 
}

.logo:hover {
  transform: scale(1.23);
}

.navbar {
  position: absolute;
  top: 0;
  margin-left: 727px;
  margin-top: 30px;
  cursor: pointer;
  transition: 80ms;
}

a[href] {
  color: #e5e7eb;
}

li a {
  text-decoration: none;
}

li {
  font-size: 22px;
  font-weight: 600;
}

li:hover {
  transform: scale(1.40);
}

.maintext {
  color: white;
  font-size: 35px;
  margin-left: 108px;
  margin-top: -50px;
  word-break: break-word;
  width: 449px;
  font-weight: 600;
  text-align: center;
}

.subtext {
  color: rgba(255, 255, 255, 0.623);
  font-size: 22px;
  font-style: italic;
  font-weight: 500;
  margin-left: 165px;
  margin-top: -20px;
  width: 349px;
  text-align: center;
  word-break: break-word;
}

button {
  background-color: #3882F6;
  border: 2px solid white;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 7px;
  padding: 6px 29px 6px 29px;
  cursor: pointer;
  transition: 80ms;
}

button:hover {
  transform: scale(1.23);
}

.button1 {
  margin-left: 260px;
  margin-top: 8px;
  box-shadow: 10px 10px 50px 10px #3882F6;
}

.buddha {
  margin-top: 0px;
  margin-right: 135px;
  border-radius: 40px;
  box-shadow: 10px 10px 40px 10px #3882F6;
}

.infos {
  color:black;
  font-size: 22px;
  font-weight:400;
  margin-top: 40px;
  text-align: center;
}

.flex-container {
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly; 
}

.flex-container > .box {
  border: solid #3882F6;
  border-radius: 30px;
  height: 180px;
  width: 180px;
}

.sub {
  text-align: center;
  margin-top: 200px;
}

.quote-container {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
  margin-top: 230px;
  margin-bottom: 120px;
  border-color: #000000;
  border-style:groove;
  border-width:0.8;
}

.quote {
  font-size: 35px;
  font-style: italic;
  font-weight: 180;
  margin-top: 70px;
}

.author {
  font-size: 23px;
  font-style: italic;
  margin-top: 0px;
  padding-top: 20px;
  text-align-last: right;
  width: 69vW;  
}

.action-container {
  background-color: #3882F6;
  margin: 100px 210px 120px 210px;
  padding: 50px 100px 50px;
  border-radius: 8px;
}

h3 {
  color: white;
  font-size: 22px;
  font-weight: 600;
  margin-top: 0px;
}

.action-product {
  color:  rgb(212, 206, 206);
  font-size: 18px;
  font-weight: 500;
  margin-top:-25px;
}

.action-button {
  margin-top: -35px;
  padding-left: 610px;
}

footer {
  background-color: #131922;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: center;
  font-size: 15px;
}